.about_container{
display: grid;
grid-template-columns: 35% 50%;
gap: 15%;
}

.about_me{
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 2rem;
    background: linear-gradient(45deg,transparent,rgb(244, 146, 71));
    display: grid;
    place-items: center;
    height: 50vh;
}

.about_me_image{
    border-radius: 2rem;
    overflow: hidden;
    transform:rotate(10deg) ;
    transition: var(--transition);
}

.about_me_image:hover{
 transform: rotate(0deg);
}

.about_cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1.5rem;

}

.about_card{
    background: rgb(244, 146, 71);
    border:1px solid transparent;
    border-radius: 1rem;
    padding: 2rem;
    text-align: center;
    transition: var(transition);
}

.about_card:hover{
    background: transparent;
    background-color: rgb(189, 88, 10);
    cursor: default;
}

.about_icon{
    color: rgb(214, 99, 12);
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.about_card h5{
    font-size: 0.95rem;
}

.about_card small{
    font-size: 0.7rem;
    color: var(--color-light);
}

.about_content p {
    margin: 2rem 0 2.6rem;
    color: var(--color-light);
}




#about{
    margin-top: 230px;
}
#about h2 {
    color: rgb(244, 146, 71);
}

#contactBtn .btn{
    width:max-content;
    display: inline-block;
    color: rgb(244, 146, 71);
    padding: 0.75rem 1.2rem;
    border-radius: 0.4rem;
    cursor: pointer;
    border: 1px solid rgb(244, 146, 71);
    transition: var(--transition);
}

#contactBtn .btn:hover{
    background: var(--color-white);
    color: var(--color-bg);
    border-color: transparent;
}

#contactBtn .btn-primary{
    background: rgb(244, 146, 71);
    color: var(--color-bg);
}

/* media queries(medium devices) */
@media(max-width:1024px) {
    .about_container{
        grid-template-columns: 1fr;
        gap:0;
    }
    .about_me{
        width: 50%;
        margin: 2rem auto 4rem;
    }
  
    .about_content p{
        margin: 1rem 0 1.5rem;
    }
    .about_content {
      text-align: center;
    }
  }
  
  /* media queries(small devices) */
  @media(max-width:600px) {
     
    .about_me{
        width: 65%;
        margin: 0 auto 3rem;
    }
    .about_cards{
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }
   
    .about_content{
        text-align: center;
    }
    .about_content p{
        margin: 1.5rem 0;
    }
    
  }