
footer{
    position: relative;
    width: 100%;
    background: rgb(244, 146, 71);
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column ;
  }
  
 footer #contact{
    color: #fff;
    text-align: center;
    margin-top: 15px;
    margin-bottom:10px ;
    font-size: 1.1em;
  }

  .permalinks{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin: 0 auto 3rem;
    }
    
    .footer_socials ul {
        position:absolute;
        left:50%;
        transform: translate(-50%, -50%);
        margin:0;
        padding:0;
        display:flex;
      }
      
    .footer_socials ul li {
        list-style: none;
      }
      
    .footer_socials  ul li a {
        position: relative;
        width:60px;
        height:60px;
        display:block;
        text-align:center;
        margin:0 10px;
        border-radius: 50%;
        padding: 6px;
        box-sizing: border-box;
        text-decoration:none;
        box-shadow: 0 10px 15px rgba(0,0,0,0.3);
        background: linear-gradient(0deg, #ddd, #fff);
        transition: .5s;
      }
      
    .footer_socials  ul li a:hover {
        box-shadow: 0 2px 5px rgba(0,0,0,0.3);
        text-decoration:none;
      }
      
    .footer_socials  ul li a .fab {
        widht: 100%;
        height:100%;
        display:block;
        background: linear-gradient(0deg, #fff, #ddd);
        border-radius: 50%;
        line-height: calc(60px - 12px);
        font-size:24px;
        color: #262626;
        transition: .5s;
      }
      
    .footer_socials  ul li:nth-child(1) a:hover .fab {
        color: #3b5998;
      }
      
    .footer_socials  ul li:nth-child(2) a:hover .fab {
        color: #00aced;
      }
      
    .footer_socials  ul li:nth-child(3) a:hover .fab {
        color: #dd4b39;
      }
      
    .footer_socials  ul li:nth-child(4) a:hover .fab {
        color: #007bb6;
      }
      
    .footer_socials  ul li:nth-child(5) a:hover .fab {
        color: #e4405f;
      }
    
    .footer_copyright{
        margin-bottom: 4rem;
        color: var(--color-bg);
    
    }
  
  footer .wave{
    position: absolute;
    top: -100px;
    left:0;
    width: 100%;
    height: 100px;
    background: url(../../assets/wave.png);
    background-size: 1000px 100px;
  }
  
  #wave1{
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWave 4s linear infinite;
  }
  
  #wave2{
    z-index: 999;
    opacity: 0.5;
    bottom: 15px;
    animation: animateWave_02 4s linear infinite;
  }
  
  #wave3{
    z-index: 1000;
    opacity: 0.2;
    bottom: 0;
    animation: animateWave 3s linear infinite;
  }
  
  #wave4{
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animateWave_02 3s linear infinite;
  }
  
  @keyframes animateWave {
    0% {
        background-position-x: 1000px ;
    }
    100% {
      background-position-x: 0px;
    }
  }
  
  @keyframes animateWave_02 {
    0% {
        background-position-x: 0px ;
    }
    100% {
      background-position-x: 1000px;
    }
  }
  
  

/* media queries(small devices) */
@media(max-width:600px) {
    .permalinks{
        flex-direction: column;
        gap: 1.5rem;
    }
    .footer_socials{
        margin-bottom:2.6rem ;
    }
  }
